# The Basics - Variables and Printing

In [5]:
hello_text = "Hello World"

# Print Hello World - this is a comment!
print(hello_text)

Hello World

In [11]:
n = 12
f = 0.1

print(f + n)

12.1

In [31]:
s1 = "Hello World"
s2 = 'Hello Universe'

print(s1 + "\n" + s2)

Hello World
Hello Universe

In [14]:
print("n=" + str(n) + " f=" + str(f))

n=12 f=0.1

In [20]:
print("n=%d" % d)
print("f=%f" % f)

n=12
f=0.100000

In [21]:
print("n=%d f=%f" % (d,f))

n=12 f=0.100000

In [36]:
first_name = "Alice"
last_name = "McMillan"

print("{0} {1}".format(first_name,last_name))
print("{1}, {0}".format(first_name,last_name))

Alice McMillan
McMillan, Alice

# Types

In [63]:
type(7)

int

In [64]:
type(2.7)

float

In [65]:
type("Hello world")

str

In [66]:
type(True)

bool

In [88]:
type(None)

NoneType

# Arrays

In [90]:
a = [1,2,3,4]

print(a)

[1, 2, 3, 4]

In [91]:
type(a)

list

In [92]:
len(a)

4

## Accessing Array Elements

In [93]:
a[0]

1

In [94]:
a[1]

2

In [95]:
a[3]

4

In [96]:
a[4]

IndexError: list index out of range

In [97]:
a[-1]

4

In [98]:
a[-4]

1

## Slices of Arrays

In [99]:
a[1:]

[2, 3, 4]

In [100]:
a[:3]

[1, 2, 3]

In [101]:
a[1:2]

[2]

In [102]:
a[:]

[1, 2, 3, 4]

In [103]:
a[-1:]

[4]

In [104]:
a[:-1]

[1, 2, 3]

## Editing Arrays

In [110]:
a = [1,2,3,4]

In [111]:
a[2] = 7
a

[1, 2, 7, 4]

In [112]:
a[1:2] = [5555]
a

[1, 5555, 7, 4]

In [113]:
a[1:2] = [555,6666]
a

[1, 555, 6666, 7, 4]

In [114]:
del a[2]
a

[1, 555, 7, 4]

In [115]:
del a[1:3]
a

[1, 4]

# Tuples

In [69]:
x = ("Hello","world")
print(x)

('Hello', 'world')

In [70]:
type(x)

tuple

In [78]:
len(x)

2

In [79]:
x[0]

'Hello'

In [80]:
(a,b) = ("Hello","world")

In [81]:
print(a,b)

Hello world

In [82]:
print(*x)

Hello world

# Sets and Dictionaries (Maps)

In [83]:
names = {"Alice", "Bob"}
names

{'Alice', 'Bob'}

In [84]:
len(names)

2

In [85]:
type(names)

set

In [89]:
'Alice' in names

True

In [90]:
'Charles' in names

False

## Dictionaries

In [118]:
birthdays = {"Alice":"1963/06/02", "Bob":"1965/08/12"}
birthdays

{'Alice': '1963/06/02', 'Bob': '1965/08/12'}

In [119]:
len(birthdays)

2

In [120]:
type(birthdays)

dict

In [121]:
'Alice' in birthdays

True

In [122]:
birthdays['Alice']

'1963/06/02'

In [124]:
birthdays["Charlie"] = "1967/09/13"
birthdays["Charlie"]

'1967/09/13'

In [125]:
del birthdays["Bob"]
birthdays

{'Alice': '1963/06/02', 'Charlie': '1967/09/13'}

# Functions

In [126]:
def print_birthday(name):
    bday = birthdays[name]
    print("%s is born on %s" % (name, bday))
    
print_birthday('Alice')

Alice is born on 1963/06/02

In [127]:
print_birthday("Bob")

KeyError: 'Bob'

# Conditions

In [128]:
def print_birthday(name):
    if name in birthdays:
        bday = birthdays[name]
    else:
        bday = "<unknown>"
        
    print("%s is born on %s" % (name, bday))
    
        
print_birthday("Alice")

Alice is born on 1963/06/02

In [130]:
print_birthday('Bob')

Bob is born on <unknown>

## Alternative Implementation

In [131]:
def print_birthday(name):
    bday = birthdays.get(name, "<unknown>")
        
    print("%s is born on %s" % (name, bday))
    
print_birthday("Alice")
print_birthday("Bob")

Alice is born on 1963/06/02
Bob is born on <unknown>

# Loops

In [101]:
for name in names:
    print_birthday(name)

Bob is born on 1965/08/12
Alice is born on 1963/06/02

## Ranges

In [16]:
for i in range(1,10):
    if i % 2 != 0:
        print("%d is odd" % i)
    else:
        print("%d is even" % i)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [61]:
i = 0
while (i < 10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [62]:
i = 0
while(True):
    print(i)
    i += 1
    if (i >= 10):
        break

0
1
2
3
4
5
6
7
8
9

# Classes and Objects

In [43]:
class Person:
    def set_name(self, name):
        self.name = name
        
    def get_name(self):
        return self.name

In [75]:
alice = Person()
alice.set_name("Alice")
print(alice.get_name())

Alice

In [76]:
type(alice)

__main__.Person

In [46]:
bob = Person()
print(bob.get_name())

AttributeError: 'Person' object has no attribute 'name'

In [47]:
class Person:
    def __init__(self, name=""):
        self.name = name
        
    def set_name(self, name):
        self.name = name
        
    def get_name(self):
        return self.name

In [49]:
alice = Person("Alice")
print(alice.get_name())

Alice

In [50]:
bob = Person()
print(bob.get_name())

## Inheritance

In [55]:
class Shape:
    def get_area(self):
        return 0
    def get_circumference(self):
        return 0
    def show(self):
        print("Area=%f, Circumference=%f" %(self.get_area(), self.get_circumference()))
    
class Box(Shape):
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def get_area(self):
        return self.a*self.b
    def get_circumference(self):
        return 2*(self.a+self.b)
    
class Circle(Shape):
    def __init__(self,r):
        self.r = r
    def get_area(self):
        return 3.141*self.r*self.r
    def get_circumference(self):
        return 2*3.141*self.r

In [56]:
box = Box(2,3)
box.show()

circle = Circle(4)
circle.show()

Area=6.000000, Circumference=10.000000
Area=50.256000, Circumference=25.128000

In [57]:
isinstance(box,Box)

True

In [58]:
isinstance(box,Shape)

True

In [59]:
isinstance(box,Circle)

False

# Exceptions

In [137]:
try:
    1/0
except Exception as ex:
    print("Error: " + str(ex))
    print(type(ex))

Error: division by zero
<class 'ZeroDivisionError'>

In [139]:
try:
    raise BaseException("This is an error")
except BaseException as s:
    print(s)

This is an error

# Modules

In [19]:
import decimal

d = decimal.Decimal(12)
print("d=%f" % d)

d=12.000000

In [27]:
from decimal import Decimal

d2 = Decimal(13.123)
print("d2 as int: %2", d2)

d2 as int: %2 13.1229999999999993320898283855058252811431884765625

In [140]:
from math import *

print(sqrt(2))

1.4142135623730951

# List Comprehension

In [73]:
[2*x for x in range(0,10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Map & Filter

## Mapping

In [27]:
def square(x):
    return x*x

s = map(square, range(1,10))
s

In [23]:
[n for n in s]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
[n for n in s]

[]

In [31]:
for n in map(square, range(1,10)):
    print(n)

1
4
9
16
25
36
49
64
81

## Filtering

In [35]:
def is_even(x):
    return x % 2 == 0

evens = filter(is_even, range(1,10))
evens

In [36]:
[e for e in evens]

[2, 4, 6, 8]

## Reducing

In [38]:
from functools import reduce

def add(x,y):
    return x + y

reduce(add, range(1,10))

45

# Lambda Functions

In [40]:
square = lambda x: x*x

s = map(square, range(1,10))
for n in s:
    print(n)

1
4
9
16
25
36
49
64
81

In [42]:
for n in map(lambda x: x*x, range(1,10)):
    print(n)

1
4
9
16
25
36
49
64
81