# The Basics - Variables and Printing

In [5]:
hello_text = "Hello World"

print(hello_text)

Hello World

In [11]:
n = 12
f = 0.1

print(f + n)

12.1

In [31]:
s1 = "Hello World"
s2 = 'Hello Universe'

print(s1 + "\n" + s2)

Hello World
Hello Universe

In [14]:
print("n=" + str(n) + " f=" + str(f))

n=12 f=0.1

In [20]:
print("n=%d" % d)
print("f=%f" % f)

n=12
f=0.100000

In [21]:
print("n=%d f=%f" % (d,f))

n=12 f=0.100000

In [36]:
first_name = "Alice"
last_name = "McMillan"

print("{0} {1}".format(first_name,last_name))
print("{1}, {0}".format(first_name,last_name))

Alice McMillan
McMillan, Alice

# Arrays

In [49]:
a = [1,2,3,4]

print(a)

[1, 2, 3, 4]

In [75]:
a = range(1,10)
a

range(1, 10)

## Accessing Array Elements

In [56]:
a[0]

1

In [57]:
a[1]

2

In [58]:
a[3]

4

In [59]:
a[4]

IndexError: list index out of range

In [60]:
a[-1]

4

In [62]:
a[-4]

1

## Slices of Arrays

In [50]:
a[1:]

[2, 3, 4]

In [66]:
a[:3]

[1, 2, 3]

In [67]:
a[1:2]

[2]

In [68]:
a[:]

[1, 2, 3, 4]

In [69]:
a[-1:]

[4]

In [70]:
a[:-1]

[1, 2, 3]

## Editing Arrays

In [71]:
a[2] = 7
a

[1, 2, 7, 4]

In [72]:
a[1:2] = [5555]
a

[1, 5555, 7, 4]

In [46]:
a[1:2] = [555,6666]
a

[1, 555, 6666, 7, 4]

# Tuples

In [9]:
x = ("Hello","world")
print(x)

('Hello', 'world')

In [10]:
x[0]

'Hello'

In [11]:
(a,b) = ("Hello","world")

In [12]:
print(a,b)

Hello world

In [15]:
print(*x)

Hello world

# Sets and Dictionaries (Maps)

In [86]:
names = {"Alice", "Bob"}
names

{'Alice', 'Bob'}

In [89]:
'Alice' in names

True

In [90]:
'Charles' in names

False

In [87]:
birthdays = {"Alice":"1963/06/02", "Bob":"1965/08/12"}
birthdays

{'Alice': '1963/06/02', 'Bob': '1965/08/12'}

In [91]:
'Alice' in birthdays

True

In [92]:
birthdays['Alice']

'1963/06/02'

# Functions

In [93]:
def print_birthday(name):
    bday = birthdays[name]
    print("%s is born on %s" % (name, bday))
    
print_birthday('Alice')

Alice is born on 1963/06/02

In [94]:
print_birthday("Charlie")

KeyError: 'Charlie'

# Conditions

In [96]:
def print_birthday(name):
    if name in birthdays:
        bday = birthdays[name]
    else:
        bday = "<unknown>"
        
    print("%s is born on %s" % (name, bday))
    
        
print_birthday("Alice")

Alice is born on 1963/06/02

In [97]:
print_birthday('Charlie')

Charlie is born on <unknown>

## Alternative Implementation

In [99]:
def print_birthday(name):
    bday = birthdays.get(name, "<unknown>")
        
    print("%s is born on %s" % (name, bday))
    
print_birthday("Alice")
print_birthday("Charlie")

Alice is born on 1963/06/02
Charlie is born on <unknown>

# Loops

In [101]:
for name in names:
    print_birthday(name)

Bob is born on 1965/08/12
Alice is born on 1963/06/02

# Ranges

In [103]:
for i in range(1,10):
    if i % 2 != 0:
        print("%d is odd" % i)
    else:
        print("%d is even" % i)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

# Classes and Objects

# Exceptions

# Modules

In [19]:
import decimal

d = decimal.Decimal(12)
print("d=%f" % d)

d=12.000000

In [27]:
from decimal import Decimal

d2 = Decimal(13.123)
print("d2 as int: %2", d2)

d2 as int: %2 13.1229999999999993320898283855058252811431884765625

# List Comprehension

In [73]:
[2*x for x in range(0,10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Map & Filter

# Lambda Functions